.Home {
    z-index: 1;

    height: 90%;
    overflow-y: scroll;

    scroll-snap-type: y mandatory;

    text-align: center;

    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
	flex-direction: column;
	justify-content: center;

    scroll-snap-align: center;
    
    font-family: "JABS_Font";
}

.subtitle {
    font-size: smaller;
}

.home.title-div {
    margin-bottom: 0;
}

.section-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: #000;
    
    margin-bottom: 60px;
    margin-top: 60px;
}

.grid-table {
    display: grid;
    grid-template-columns: 50% 50%;
    border-color: #000;
    align-items: center;
}

.grid-table > div {
    text-align: center;
    font-size: 30px;
  }

.grid-table-inner {
    display: grid;
    grid-row-gap: 10px;
}

.place {
    font-size: medium;
    color: #000;
}

.description {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color:#ff0060;
    font-size: small;
}

.where {
    font-family: "Arial";
    font-size: small;
    font-style: italic;
}

.duration {
    font-family: "Arial";
    font-size: x-small;
}

/* FIRST SECTION */
 
.fotoPersonale {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 1);
    background: linear-gradient(90deg, #65be7a 50%, #fff 50%);
}
  
.main-text {
    font-family: "JABS_Font";
    font-size: x-large;
    color: #fff;
    transform: translateY(-100px);
    mix-blend-mode: exclusion;
}
  
.indicator {
    color: #000;
}

/* third */

