.Home {
    z-index: 1;

    height: 90%;
    text-align: center;
    overflow-y: scroll;

    position: relative;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Home::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Home {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
	flex-direction: column;
	justify-content: center;

    scroll-snap-align: center;
    
    font-family: "JABS_Font"
}

.subtitle {
    font-size: smaller;
}

.home.title-div {
    margin-bottom: 0;
}

/* FIRST SECTION */
 
.fotoPersonale {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 1);
    background: linear-gradient(90deg, #65be7a 50%, #fff 50%);
}
  
.main-text {
    font-family: "JABS_Font";
    font-size: x-large;
    color: #fff;
    transform: translateY(-100px);
    mix-blend-mode: exclusion;
}
  
.indicator {
    color: #000;
}

/* third */

