.game {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: large;
  color: white;
  font-family: "JABS_Font";
}

.status {
  font-size: larger;
  color: rgb(192, 192, 192);
  margin-top: 10px;
}

.board {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-grid;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  height: 70px;
  width: 70px;
  text-align: center;
  padding: 0;
  margin-top: -1;
  margin-right: -1;
  float: left;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.reset {
  margin-top: 10px;
}

.winner {
  color: rgb(0, 131, 59);
  font-weight: bold;
}