.title-div.contacts {
    margin-bottom: 0;
}

.component.contacts {
    transform: translateY(-100px);
}

.block.contacts {
    margin-bottom: 20px;
    
}

p.info {
    margin-left: auto;
    margin-right: auto;
}

.info {
    position: relative;
    display: block;
}

.info:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #ff0060;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.info:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.icon {
    height: 40px;
    width: 40px;
    color: rgb(0, 0, 0);
}