.component {
    color: rgb(0, 0, 0);
    font-family: "JABS_Font";

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-size: xx-large;
}


.icon {
    height: 40px;
    width: 40px;
    color: rgb(0, 0, 0);
}