.navbar-toggler {
    color: #000;
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    transition: all 0.4s linear;
    font-weight: bold;
}

a.nav-link {
    color: #ffffff;;
}

.navBg {
    background-color: #ff0060b3;
 }

.container {
    align-items: center;
    text-align: center;
}