.navbar-toggler,
.navbar-toggler::after,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
   border: 0;
}

.navbar {
   transition: all 0.4s linear;
}

.navbar-brand {
   color: rgb(192, 192, 192);
}

.navBg {
   background-color: rgba(31, 31, 31, 0.7);
 }

.container {
   align-items: center;
   text-align: center;
}