.navbar-toggler,
.navbar-toggler::after,
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
   border: 0;
   color: rgb(0, 0, 0);
}

.navbar {
   transition: all 0.4s linear;
   color: rgb(0, 0, 0);
}

.navBg {
   background-color: rgba(204, 204, 204, 0.7);
 }

.container {
   align-items: center;
   text-align: center;
}